[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/smartramana
[access "refs/for/refs/*"]
	read = group user/smartramana
	push = group user/smartramana
	label-Code-Review = -2..+2 group user/smartramana
	label-Verified = -1..+1 group user/smartramana
	rebase = group user/smartramana
	removeReviewer = group user/smartramana
	submit = group user/smartramana
[access "refs/heads/*"]
	read = group user/smartramana
	create = group user/smartramana
	push = +force group user/smartramana
	pushMerge = group user/smartramana
[access "refs/tags/*"]
	push = group user/smartramana
	push = +force group user/smartramana
